Django==5.1.4
gunicorn==26.2.0
idna==3.20
Pillow==11.0.0
psycopg2-binary==2.9.13
python-decouple==3.8
reportlab==4.2.5
requests==2.34.2
sqlparse==0.6.0
tzdata==2026.4
urllib3==2.8.0
vercel_blob==0.4.2
whitenoise==6.12.0